---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { BlogCard } from "../../components/BlogCard";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout title="Blog Posts">
  <h1 class="text-3xl font-bold mb-8">Blog Posts</h1>
  <div class="space-y-8">
    {
      posts.map((post) => (
        <BlogCard
          title={post.data.title}
          description={post.data.description}
          pubDate={post.data.pubDate}
          href={`/blog/${post.id}/`}
          labels={post.data.labels}
          client:visible
        />
      ))
    }
  </div>
</Layout>
