---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { BlogCard } from '../../components/BlogCard'
import { Temporal } from '@js-temporal/polyfill'

const isProd = import.meta.env.PROD

const posts = (await getCollection('blog'))
  .filter((post) => {
    if (isProd) {
      return post.data.status === 'published' || post.data.status === 'locked'
    }
    return true
  })
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()); // Date sorting

function getSlug(id: string) {
  return id
    .replace(/^src\/content\/blog\//, '')
    .replace(/\/index\.mdx$/, '')
    .replace(/\.mdx?$/, '')
}

function toTemporal(date: Date) {
  return Temporal.PlainDate.from(date.toISOString().split('T')[0]);
}
---

<Layout title="All posts">
  <h1 class="text-3xl font-bold mb-8">All posts</h1>
  <div class="space-y-8">
    {
      posts.map(post => (
        <BlogCard
          title={post.data.title}
          description={post.data.description}
          pubDate={toTemporal(post.data.pubDate)}
          href={`/blog/${getSlug(post.id)}/`}
          labels={post.data.labels}
          client:visible
        />
      ))
    }
  </div>
</Layout>
